<h1><%= @user.name %></h1>

  <% if user_signed_in? && current_user != @user %>
    <% if current_user.following?(@user) %>
      <%= button_to "- Parar de Seguir", unfollow_user_path(@user), method: :delete, data: { turbo: false }, class: "btn btn-danger" %>
    <% else %>
      <%= button_to "+ Seguir", follow_user_path(@user), method: :post, data: { turbo: false }, class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <p><strong>Seguidores:</strong> <%= @user.followers.count %></p>

<ul>
  <% @user.followers.each do |follower| %>
    <li><%= link_to follower.name, user_path(follower) %></li>
  <% end %>
</ul>

<h3>Seguindo: <%= @user.following.count %></h3>
<ul>
  <% @user.following.each do |followed| %>
    <li><%= link_to followed.name, user_path(followed) %></li>
  <% end %>
</ul>
<% @posts.each do |post| %>
  <hr>
  <div class="post">
    <strong><%= post.title %></strong> <small>Publicado em <%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small>
    <br>
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "300x200" %>
    <% end %>
    <p><%= post.content %></p>
    <p><small>Publicado em <%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small></p>
    <% if post.likes.exists?(user: current_user) %>
      <%= button_to "ðŸ‘Ž Descurtir", like_post_path(post), method: :patch, data: { turbo: false }, class: "btn btn-warning" %>
    <% else %>
      <%= button_to "ðŸ‘ Curtir", like_post_path(post), method: :patch, data: { turbo: false }, class: "btn btn-success" %>
    <% end %>
  </div>

  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <strong><%= comment.user.name %>:</strong>
        <%= comment.content %>
        <small>(<%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>)</small>
      </li>
    <% end %>
  </ul>

  <%= form_with model: [post, Comment.new], method: :post, data: { turbo: false } do |f| %>
    <div>
      <%= f.text_area :content, required: true %>
    </div>
    <div>
      <%= f.submit "Comentar", class: "btn btn-primary" %>
    </div>
    <hr>
  <% end %>
<% end %>