<%= javascript_include_tag "application", "data-turbo-track": "reload" %>

<ul>
  <% @posts.each do |post| %>
    <div class="post" id="post-<%= post.id %>">
      <li>
        <strong><%= post.title %> (por <%= link_to post.user.name, user_path(post.user) %>)</strong> <small>Data: <%= post.date.strftime("%d/%m/%Y %H:%M") %></small>
        <br>
        <% if post.images.attached? %>
          <div class="image-gallery">
            <% post.images.each do |image| %>
              <%= image_tag image, class: "post-image", size: "300x200" %>
            <% end %>
          </div>
        <% end %>
        <br>
        <%= post.content %>
        <small>Likes: <%= post.likes.count %></small>

        <% if post.likes.exists?(user: current_user) %>
          <%= button_to "ðŸ‘Ž Descurtir", like_post_path(post), method: :patch, data: { turbo: false }, class: "btn btn-warning" %>
        <% else %>
          <%= button_to "ðŸ‘ Curtir", like_post_path(post), method: :patch, data: { turbo: false }, class: "btn btn-success" %>
        <% end %>
      </li>

      <ul>
        <% post.comments.each do |comment| %>
          <li>
            <strong><%= link_to comment.user.name , user_path(comment.user) %>:</strong>
            <%= comment.content %>
            <small>(<%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>)</small>
          </li>
        <% end %>
      </ul>

      <%= form_with model: [post, Comment.new], method: :post, data: { turbo: false }, html: { class: "comment-form" } do |f| %>
        <div>
          <%= f.text_area :content, required: true %>
        </div>
        <div>
          <%= f.submit "Comentar", class: "btn btn-primary" %>
        </div>
      <% end %>

      <hr>
    </div>
  <% end %>

</ul>

